@charset "UTF-8";
/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* 20/16 */
/* Form */
/* ======================================================================== */
@import "../fonts/icon/style.css";
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Inter/Inter-Thin.eot?") format("eot"), url("../fonts/Inter/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter/Inter-Thin.woff") format("woff"), url("../fonts/Inter/Inter-Thin.ttf") format("truetype"), url('../fonts/Inter/Inter-Thin.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Inter/Inter-ExtraLight.eot?") format("eot"), url("../fonts/Inter/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter/Inter-ExtraLight.woff") format("woff"), url("../fonts/Inter/Inter-ExtraLight.ttf") format("truetype"), url('../fonts/Inter/Inter-ExtraLight.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Inter/Inter-Light.eot?") format("eot"), url("../fonts/Inter/Inter-Light.woff2") format("woff2"), url("../fonts/Inter/Inter-Light.woff") format("woff"), url("../fonts/Inter/Inter-Light.ttf") format("truetype"), url('../fonts/Inter/Inter-Light.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Inter/Inter-Regular.eot?") format("eot"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype"), url('../fonts/Inter/Inter-Regular.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium.eot?") format("eot"), url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype"), url('../fonts/Inter/Inter-Medium.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter/Inter-SemiBold.eot?") format("eot"), url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype"), url('../fonts/Inter/Inter-SemiBold.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter/Inter-Bold.eot?") format("eot"), url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("truetype"), url('../fonts/Inter/Inter-Bold.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter/Inter-ExtraBold.eot?") format("eot"), url("../fonts/Inter/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter/Inter-ExtraBold.ttf") format("truetype"), url('../fonts/Inter/Inter-ExtraBold.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Inter/Inter-Black.eot?") format("eot"), url("../fonts/Inter/Inter-Black.woff2") format("woff2"), url("../fonts/Inter/Inter-Black.woff") format("woff"), url("../fonts/Inter/Inter-Black.ttf") format("truetype"), url('../fonts/Inter/Inter-Black.svg#str-replace("Inter", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Thin.eot?") format("eot"), url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype"), url('../fonts/Roboto/Roboto-Thin.svg#str-replace("Roboto", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.eot?") format("eot"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url('../fonts/Roboto/Roboto-Light.svg#str-replace("Roboto", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url('../fonts/Roboto/Roboto-Regular.svg#str-replace("Roboto", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.eot?") format("eot"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url('../fonts/Roboto/Roboto-Medium.svg#str-replace("Roboto", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.eot?") format("eot"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url('../fonts/Roboto/Roboto-Bold.svg#str-replace("Roboto", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-Black.eot?") format("eot"), url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"), url('../fonts/Roboto/Roboto-Black.svg#str-replace("Roboto", " ", "_")') format("svg");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  position: relative;
  box-sizing: content-box;
}

.wrapper {
  min-height: 100%;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  transition: all 0.3s;
}
a:focus {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Inter";
  color: #000;
  line-height: 1.2;
  font-size: calc(.05 * 100vw + 0px);
}
@media (min-width: 768px) {
  body {
    font-size: calc(.01066667 * 100vw + 0px);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  font-size: 1em;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
  flex-grow: 1;
}

.container_center, .header__content {
  max-width: 81.25em;
  padding: 0 0.3125em;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 1.875em 0;
}
@media (min-width: 768px) {
  .section {
    padding: 3.75em 0;
  }
}
.section.pb_0 {
  padding-bottom: 0;
}
.section__title {
  margin: 0;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.1719;
}
@media (min-width: 768px) {
  .section__title {
    font-size: 2.25em;
  }
}
@media (min-width: 768px) {
  .section__title.md {
    font-size: 3em;
  }
}
.section__title.lg {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .section__title.lg {
    font-size: 4em;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block !important;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img_bg_wrap {
  position: relative;
}
.img_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.snakeline a {
  position: relative;
  text-decoration: none;
}
.snakeline a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  bottom: -0.125em;
  border-bottom: 0.125em solid;
  border-color: inherit;
}
@media (min-width: 768px) {
  .snakeline a:after {
    transition: width 0.3s;
  }
}
@media (min-width: 768px) {
  .snakeline a:hover:after {
    width: 65%;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.counter-wrap {
  counter-reset: line var(--line-num, 0);
}

.counter-item {
  counter-increment: line;
}
.counter-item:nth-child(n+10) .counter-el:before {
  content: none;
}
.counter-item .counter-el:before {
  content: "0";
}
.counter-item .counter-el:after {
  content: counter(line) " ";
}

.preloader {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0.125em;
  width: 6.25em;
  height: 6.25em;
  margin: 1.875em auto;
  font-size: 0.5em;
}
.preloader__wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s;
}
.preloader__wrap.hide {
  opacity: 0;
}
@media (min-width: 768px) {
  .preloader {
    font-size: 1em;
  }
}

.preloader > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fca33e;
  background-color: #0349fc;
  transform: scale(0);
  transform-origin: center center;
  animation: preloader-4-anim 2s infinite linear;
}

.preloader > div:nth-of-type(1),
.preloader > div:nth-of-type(5),
.preloader > div:nth-of-type(9) {
  animation-delay: 0.4s;
  background-color: #4f80fd;
}

.preloader > div:nth-of-type(4),
.preloader > div:nth-of-type(8) {
  animation-delay: 0.2s;
  background-color: #356dfd;
}

.preloader > div:nth-of-type(2),
.preloader > div:nth-of-type(6) {
  animation-delay: 0.6s;
  background-color: #6892fd;
}

.preloader > div:nth-of-type(3) {
  animation-delay: 0.8s;
  background-color: #81a4fe;
}

@keyframes preloader-4-anim {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* Header
 ----------------------------------------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0.5625em 0 0;
  background-color: transparent;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .header {
    background-color: #EEFFE5;
    padding: 0.5625em 0;
  }
}
.header__content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__logo {
    position: relative;
    width: 5.5em;
    height: 5.5em;
    margin-right: -5em;
    left: -4em;
  }
  .header__logo svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header__logo svg rect:nth-child(2) {
    animation: rotate 4.5s 1s infinite;
  }
}
@media (max-width: 767px) {
  .header__navbar {
    position: fixed;
    right: -100vw;
    top: 0;
    bottom: 0;
    background-color: #D3E2FF;
    width: 100vw;
    z-index: 10;
    overflow: hidden;
    padding: 3.5em 0 0;
    transition: right 0.3s;
  }
  .header__navbar_open {
    right: 0;
  }
}
.header__navbar .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .header__navbar .menu {
    height: 100%;
    overflow-y: auto;
  }
}
@media (min-width: 768px) {
  .header__navbar .menu {
    display: flex;
    align-items: center;
    gap: 2.125em;
  }
}
.header__navbar .menu__item {
  padding: 1em 1.875em 0.5em;
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .header__navbar .menu__item {
    padding: 0;
    border-bottom: 0;
  }
}
.header__navbar .menu__item a {
  font-size: 1.5em;
  color: black;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
}
@media (min-width: 768px) {
  .header__navbar .menu__item a {
    font-size: 1em;
    position: relative;
  }
  .header__navbar .menu__item a:before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    width: 0;
    border-bottom: 0.0625em solid;
    transition: 0.3s;
  }
}
@media (min-width: 768px) {
  .header__navbar .menu__item:hover > a:before {
    width: 100%;
  }
}
.header__navbar .menu__item_has_children {
  position: relative;
}
@media (max-width: 767px) {
  .header__navbar .menu__item_has_children > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__navbar .menu__item_has_children > a:after {
  font-family: "icon";
  content: "";
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.675em;
  transition: 0.3s;
  transform: scale(1);
  cursor: pointer;
}
.header__navbar .menu__item_has_children > a.active:after {
  transform: scale(-1);
}
@media (min-width: 768px) {
  .header__navbar .menu__item_has_children:hover a:after {
    transform: scale(-1);
  }
  .header__navbar .menu__item_has_children:hover .menu__sub {
    height: auto;
    opacity: 1;
    top: 3em;
    visibility: visible;
  }
}
.header__navbar .menu__sub {
  margin: 0;
  list-style: none;
  padding: 0;
}
@media (max-width: 767px) {
  .header__navbar .menu__sub {
    display: none;
  }
  .header__navbar .menu__sub a {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .header__navbar .menu__sub {
    padding: 1.5em 1.25em 1em;
    position: absolute;
    width: -webkit-max-content;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    top: 4em;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.3s;
    background-color: #EEFFE5;
    border-radius: 0.625em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .header__navbar .menu__sub:before {
    content: "";
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: block;
    height: 2em;
  }
  .header__navbar .menu__sub .menu__item {
    margin-bottom: 0.375em;
  }
  .header__navbar .menu__sub .menu__item:last-child {
    margin-bottom: 0;
  }
}
.header__navbar .menu__sub .menu__item {
  padding: 0;
  border-bottom: 0;
}
@media (max-width: 767px) {
  .header__navbar .menu__sub .menu__item {
    margin-top: 0.5em;
  }
  .header__navbar .menu__sub .menu__item:first-child {
    margin-top: 0.625em;
  }
  .header__navbar .menu__sub .menu__item a {
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .header__phone .btn {
    color: #000000;
    background-color: #ffffff;
    padding: 0.44em 0.313em;
  }
  .header__phone .btn:before {
    content: none;
  }
  .header__phone .btn i {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .header__phone .btn {
    min-width: 16.25em;
  }
}
.header__phone .btn span {
  position: relative;
}
@media (max-width: 767px) {
  .header__phone .btn span {
    font-size: 0.875em;
  }
}
.header__phone .btn span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  border-bottom: 0.075em solid;
}
@media (min-width: 768px) {
  .header__phone .btn span:after {
    bottom: -0.1em;
  }
}
.header__toggle {
  position: relative;
  width: 3em;
  height: 3em;
  color: #ffffff;
  z-index: 15;
  cursor: pointer;
}
.header__toggle:after, .header__toggle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  font-family: "icon";
}
.header__toggle:before {
  content: "";
  font-size: 2em;
}
.header__toggle:after {
  content: "";
  opacity: 0;
  font-size: 0;
  color: #D73434;
}
.header__toggle_open:before {
  opacity: 0;
  font-size: 0;
}
.header__toggle_open:after {
  opacity: 1;
  font-size: 1em;
}

.stiky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .stiky {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 0;
  }
  .stiky .header__toggle {
    color: #000000;
  }
}

.nav-open {
  overflow: hidden;
}

@media (min-width: 768px) {
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.firstscreen {
  padding: 7.25em 0 4.375em;
}
@media (min-width: 768px) {
  .firstscreen {
    padding: 14.5em 0 11em;
  }
}
.firstscreen .section__title {
  color: #ffffff;
  margin: 0 auto;
  width: 10em;
}
@media (min-width: 768px) {
  .firstscreen .section__title {
    width: 12em;
  }
}
.firstscreen__content {
  position: relative;
}
.firstscreen__btn {
  margin-top: 1.875em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
}
@media (min-width: 768px) {
  .firstscreen__btn {
    margin-top: 5.125em;
    flex-direction: row;
    gap: 1.875em;
  }
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1.625em 1.125em;
}
@media (min-width: 768px) {
  .footer {
    padding: 3.625em 13.125em;
  }
}
@media (min-width: 768px) {
  .footer__row {
    display: grid;
    grid-template-columns: 46.25em auto;
    grid-row-gap: 3.125em;
    grid-column-gap: 1em;
  }
}
.footer__col {
  margin-top: 1.5em;
}
.footer__col:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__col {
    margin-top: 0;
  }
  .footer__col:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }
}
.footer__desc {
  color: rgba(210, 210, 210, 0.64);
  font-weight: 500;
  font-size: 0.75em;
}
@media (min-width: 768px) {
  .footer__desc {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .footer__navbar {
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40em;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 0.9375em;
  margin-top: 0.9375em;
}
.footer__item:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__item {
    margin-top: 0;
    gap: 0.625em;
    text-align: center;
  }
}
.footer__item b {
  font-family: "Roboto";
  font-size: 1.125em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__item b {
    color: #A8A8A8;
    font-size: 1.25em;
    font-weight: 600;
  }
}
.footer__item a,
.footer__item span {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875em;
}
@media (min-width: 768px) {
  .footer__item a,
.footer__item span {
    font-size: 1em;
  }
}
.footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .menu__label {
  font-family: "Roboto";
  font-size: 1.125em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer .menu__label {
    font-size: 1.5em;
  }
}
.footer .menu__item {
  margin-top: 0.3125em;
}
.footer .menu__item:first-child {
  margin-top: 0.9375em;
}
@media (min-width: 768px) {
  .footer .menu__item {
    margin-top: 0.625em;
  }
  .footer .menu__item:first-child {
    margin-top: 1.875em;
  }
}
.footer .menu__item a {
  font-size: 0.875em;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer .menu__item a {
    font-size: 1em;
  }
}

.form {
  margin-top: 1.5em;
  /* Для Chrome */
  /* Для Firefox */
}
@media (min-width: 768px) {
  .form {
    margin-top: 3.25em;
  }
}
.form__row {
  margin-top: 0.625em;
}
@media (min-width: 768px) {
  .form__row {
    margin-top: 1.25em;
  }
}
.form__row:first-child {
  margin-top: 0;
}
.form__row:last-child {
  text-align: center;
}
@media (min-width: 768px) {
  .form__row:last-child {
    margin-top: 1.5em;
  }
}
.form__row input:not([type]),
.form__row input[type=date],
.form__row input[type=email],
.form__row input[type=number],
.form__row input[type=password],
.form__row input[type=search],
.form__row input[type=tel],
.form__row input[type=text],
.form__row input[type=url],
.form__row textarea {
  width: 100%;
}
.form__row textarea {
  min-height: 6em;
  resize: vertical;
}
.form input:not([type]),
.form input[type=date],
.form input[type=email],
.form input[type=number],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form input[type=text],
.form input[type=url],
.form textarea {
  font-family: "Inter";
  font-size: 0.875em;
  font-weight: 600;
  background-color: transparent;
  padding: 0.889em 0.833334em;
  border-radius: 0.75em;
  border: 0.125em solid;
  border-color: rgba(0, 0, 0, 0.15);
  color: black;
  outline: none;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .form input:not([type]),
.form input[type=date],
.form input[type=email],
.form input[type=number],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form input[type=text],
.form input[type=url],
.form textarea {
    font-size: 1.125em;
    font-weight: 700;
  }
}
.form input:not([type]):hover,
.form input[type=date]:hover,
.form input[type=email]:hover,
.form input[type=number]:hover,
.form input[type=password]:hover,
.form input[type=search]:hover,
.form input[type=tel]:hover,
.form input[type=text]:hover,
.form input[type=url]:hover,
.form textarea:hover {
  border-color: rgba(0, 0, 0, 0.35);
}
.form input:not([type]):focus,
.form input[type=date]:focus,
.form input[type=email]:focus,
.form input[type=number]:focus,
.form input[type=password]:focus,
.form input[type=search]:focus,
.form input[type=tel]:focus,
.form input[type=text]:focus,
.form input[type=url]:focus,
.form textarea:focus {
  border-color: rgba(0, 0, 0, 0.35);
}
.form input:not([type]).invalid,
.form input[type=date].invalid,
.form input[type=email].invalid,
.form input[type=number].invalid,
.form input[type=password].invalid,
.form input[type=search].invalid,
.form input[type=tel].invalid,
.form input[type=text].invalid,
.form input[type=url].invalid,
.form textarea.invalid {
  border-color: rgba(215, 52, 52, 0.5);
}
.form input:not([type])::-webkit-input-placeholder,
.form input[type=date]::-webkit-input-placeholder,
.form input[type=email]::-webkit-input-placeholder,
.form input[type=number]::-webkit-input-placeholder,
.form input[type=password]::-webkit-input-placeholder,
.form input[type=search]::-webkit-input-placeholder,
.form input[type=tel]::-webkit-input-placeholder,
.form input[type=text]::-webkit-input-placeholder,
.form input[type=url]::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.15);
}
.form input:not([type]):-moz-placeholder,
.form input[type=date]:-moz-placeholder,
.form input[type=email]:-moz-placeholder,
.form input[type=number]:-moz-placeholder,
.form input[type=password]:-moz-placeholder,
.form input[type=search]:-moz-placeholder,
.form input[type=tel]:-moz-placeholder,
.form input[type=text]:-moz-placeholder,
.form input[type=url]:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.15);
}
.form input:not([type])::-moz-placeholder,
.form input[type=date]::-moz-placeholder,
.form input[type=email]::-moz-placeholder,
.form input[type=number]::-moz-placeholder,
.form input[type=password]::-moz-placeholder,
.form input[type=search]::-moz-placeholder,
.form input[type=tel]::-moz-placeholder,
.form input[type=text]::-moz-placeholder,
.form input[type=url]::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.15);
}
.form input:not([type]):-ms-input-placeholder,
.form input[type=date]:-ms-input-placeholder,
.form input[type=email]:-ms-input-placeholder,
.form input[type=number]:-ms-input-placeholder,
.form input[type=password]:-ms-input-placeholder,
.form input[type=search]:-ms-input-placeholder,
.form input[type=tel]:-ms-input-placeholder,
.form input[type=text]:-ms-input-placeholder,
.form input[type=url]:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.15);
}
.form input[type=search]::-webkit-search-cancel-button,
.form input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.form input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375em;
  padding: 0.766em 0.5em;
  border-radius: 0.625em;
  border: none;
  outline: none;
  max-width: 100%;
  min-width: 10.625em;
  font-family: "Inter";
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    padding: 1.138em 1em;
    min-width: 11.875em;
    font-weight: 700;
  }
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-14deg, #0349FC 22.51%, #5887FF 52.54%, #0349FC 80.92%);
}
@media (min-width: 768px) {
  .btn:before {
    transition: 0.5s;
  }
}
.btn i {
  font-size: 1.25em;
  position: relative;
}
.btn span {
  font-size: 0.875em;
  line-height: 1.4645;
}
@media (min-width: 768px) {
  .btn span {
    font-size: 1em;
    line-height: 1.35;
  }
}
@media (min-width: 768px) {
  .btn:hover:before {
    width: 170%;
  }
}
@media (min-width: 768px) {
  .btn:active:before {
    width: 300%;
  }
}
.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  background: #4f80fd;
}
.btn.disabled:before, .btn:disabled:before {
  content: none;
}
.btn_success:before {
  background: linear-gradient(-14deg, #51A708 16.56%, #9BC379 48.58%, #51A708 81.39%);
}
.btn_success.disabled, .btn_success:disabled {
  background: #4c9d08;
}
.btn_lg {
  min-width: 100%;
}
@media (min-width: 768px) {
  .btn_lg {
    min-width: 19.5em;
  }
}
.btn_lg span {
  font-size: 1em;
  line-height: 1.2813;
}
@media (min-width: 768px) {
  .btn_lg span {
    font-size: 1.25em;
    line-height: 1.08;
  }
}

.collapse__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1;
}
.collapse__title span {
  cursor: pointer;
}
.collapse__title:after {
  content: "";
  font-family: "icomoon";
  transition: 0.3s;
  cursor: pointer;
}
.collapse__title.open:after {
  color: red;
}
.collapse__body {
  display: none;
}
.collapse__body.open {
  display: block;
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-open {
  overflow: hidden;
}
.modal-close {
  position: absolute;
  top: 0.625em;
  right: 1.25em;
  color: #D73434;
  text-decoration: none;
}
@media (min-width: 768px) {
  .modal-close {
    top: 1em;
    right: 2.625em;
    opacity: 1;
  }
}
.modal-close i {
  font-size: 1em;
}
@media (min-width: 768px) {
  .modal-close i {
    font-size: 1.25em;
  }
}
@media (min-width: 768px) {
  .modal-close:hover {
    opacity: 0.8;
  }
}
.modal.fade .modal-dialog {
  transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
}
.modal.in {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
  position: relative;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: auto;
  width: 18.125em;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 26.25em;
  }
}
.modal-content {
  position: relative;
  background-color: #D3E2FF;
  border: none;
  border-radius: 1.25em;
  box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  padding: 2.125em 0.75em 0.9375em;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 4.125em 1.875em 1.375em;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-title {
  font-size: 1.25em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .modal-title {
    font-size: 1.5em;
  }
}
.modal-desc {
  font-size: 0.875em;
  margin-top: 0.7em;
  width: 12.5em;
}
@media (min-width: 768px) {
  .modal-desc {
    font-size: 0.9375em;
    margin-top: 1em;
    width: 18em;
  }
}
.modal-body {
  position: relative;
  padding: 0;
}