@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?thr872');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?thr872#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?thr872') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?thr872') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?thr872##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_question {
  &:before {
    content: $icon_question; 
  }
}
.icon_check {
  &:before {
    content: $icon_check; 
  }
}
.icon_warning {
  &:before {
    content: $icon_warning; 
  }
}
.icon_whatsapp {
  &:before {
    content: $icon_whatsapp; 
  }
}
.icon_arrow_right {
  &:before {
    content: $icon_arrow_right; 
  }
}
.icon_arrow_left {
  &:before {
    content: $icon_arrow_left; 
  }
}
.icon_burger {
  &:before {
    content: $icon_burger; 
  }
}
.icon_caret {
  &:before {
    content: $icon_caret; 
  }
}
.icon_phone {
  &:before {
    content: $icon_phone; 
  }
}
.icon_close {
  &:before {
    content: $icon_close; 
  }
}

