$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_question: unquote('"\\e909"');
$icon_check: unquote('"\\e900"');
$icon_warning: unquote('"\\e901"');
$icon_whatsapp: unquote('"\\e902"');
$icon_arrow_right: unquote('"\\e903"');
$icon_arrow_left: unquote('"\\e904"');
$icon_burger: unquote('"\\e905"');
$icon_caret: unquote('"\\e906"');
$icon_phone: unquote('"\\e907"');
$icon_close: unquote('"\\e908"');

