// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.05 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.01066667 * 100vw + 0px);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
}

.container_center {
	max-width: $container_width;
	padding: 0 0.3125em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 1.875em 0;
	@media (min-width: 768px) {
		padding: 3.75em 0;
	}

	&:last-child {
		padding-bottom: 0;
	}

	&__title {
		margin: 0 auto;
		font-family: $second_font_family;
		font-weight: 700;
		text-align: center;
		font-size: 1.25em;
		line-height: 1.1719;
		@media (min-width: 768px) {
			font-size: 3em;
			width: 16em;
		}

		&.lg {
			font-size: 1.5em;
			@media (min-width: 768px) {
				font-size: 4em;
			}
		}

	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.d-none {
	display: none;
}

.d-block {
	display: block!important;
}

.img {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.img_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&_wrap {
		position: relative;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.accordionInner {
	display: none;
}

.block {
	display: block !important;
}
