header.header
    .header__content

        .header__logo.desktop(href="/")
            <svg width="100%" height="100%" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_500_811)">
                <rect width="88" height="88" rx="44" fill="#0349FC"/>
                <rect x="-4" y="29" width="50" height="50" rx="25" fill="#5685FF"/>
                </g>
                <path d="M23.6882 42.4922H20.8885C20.8374 42.13 20.733 41.8082 20.5753 41.527C20.4176 41.2415 20.2152 40.9986 19.968 40.7983C19.7209 40.598 19.4354 40.4446 19.1115 40.3381C18.7919 40.2315 18.4446 40.1783 18.0696 40.1783C17.392 40.1783 16.8018 40.3466 16.299 40.6832C15.7962 41.0156 15.4063 41.5014 15.1293 42.1406C14.8523 42.7756 14.7138 43.5469 14.7138 44.4545C14.7138 45.3878 14.8523 46.1719 15.1293 46.8068C15.4105 47.4418 15.8026 47.9212 16.3054 48.245C16.8082 48.5689 17.3899 48.7308 18.0504 48.7308C18.4212 48.7308 18.7642 48.6818 19.0795 48.5838C19.3991 48.4858 19.6825 48.343 19.9297 48.1555C20.1768 47.9638 20.3814 47.7315 20.5433 47.4588C20.7095 47.1861 20.8246 46.875 20.8885 46.5256L23.6882 46.5384C23.6158 47.1392 23.4347 47.7188 23.1449 48.277C22.8594 48.831 22.4737 49.3274 21.9879 49.7663C21.5064 50.201 20.9311 50.5462 20.2621 50.8018C19.5973 51.0533 18.8452 51.179 18.0057 51.179C16.8381 51.179 15.794 50.9148 14.8736 50.3864C13.9574 49.858 13.233 49.093 12.7003 48.0916C12.1719 47.0902 11.9077 45.8778 11.9077 44.4545C11.9077 43.027 12.1761 41.8125 12.7131 40.8111C13.25 39.8097 13.9787 39.0469 14.8991 38.5227C15.8196 37.9943 16.8551 37.7301 18.0057 37.7301C18.7642 37.7301 19.4673 37.8366 20.1151 38.0497C20.767 38.2628 21.3445 38.5739 21.8473 38.983C22.3501 39.3878 22.7592 39.8842 23.0746 40.4723C23.3942 41.0604 23.5987 41.7337 23.6882 42.4922ZM30.0962 51.1918C29.0863 51.1918 28.217 50.9872 27.4883 50.5781C26.7638 50.1648 26.2056 49.581 25.8136 48.8267C25.4215 48.0682 25.2255 47.1712 25.2255 46.1357C25.2255 45.1257 25.4215 44.2393 25.8136 43.4766C26.2056 42.7138 26.7575 42.1193 27.4691 41.6932C28.185 41.267 29.0245 41.054 29.9876 41.054C30.6353 41.054 31.2383 41.1584 31.7965 41.3672C32.359 41.5717 32.8491 41.8807 33.2667 42.294C33.6886 42.7074 34.0167 43.2273 34.2511 43.8537C34.4854 44.4759 34.6026 45.2045 34.6026 46.0398V46.7876H26.3121V45.1001H32.0394C32.0394 44.7081 31.9542 44.3608 31.7837 44.0582C31.6133 43.7557 31.3768 43.5192 31.0742 43.3487C30.7759 43.174 30.4286 43.0866 30.0323 43.0866C29.619 43.0866 29.2525 43.1825 28.9329 43.3743C28.6175 43.5618 28.3704 43.8153 28.1914 44.1349C28.0124 44.4503 27.9208 44.8018 27.9165 45.1896V46.794C27.9165 47.2798 28.006 47.6996 28.185 48.0533C28.3683 48.407 28.6261 48.6797 28.9585 48.8714C29.2908 49.0632 29.685 49.1591 30.141 49.1591C30.4435 49.1591 30.7205 49.1165 30.9719 49.0312C31.2234 48.946 31.4386 48.8182 31.6175 48.6477C31.7965 48.4773 31.9329 48.2685 32.0266 48.0213L34.5451 48.1875C34.4173 48.7926 34.1552 49.321 33.7589 49.7727C33.3668 50.2202 32.8597 50.5696 32.2376 50.821C31.6197 51.0682 30.9059 51.1918 30.0962 51.1918ZM36.3796 51V41.1818H44.9641V51H42.3626V43.3232H38.9492V51H36.3796ZM46.1515 43.3232V41.1818H55.0492V43.3232H51.8851V51H49.29V43.3232H46.1515ZM59.3015 47.4077L62.8363 41.1818H65.521V51H62.9258V44.755L59.4038 51H56.6999V41.1818H59.3015V47.4077ZM67.7038 51V41.1818H70.4268V44.9915H71.1939L73.8658 41.1818H77.0618L73.5909 46.0526L77.1001 51H73.8658L71.4432 47.5163H70.4268V51H67.7038Z" fill="white"/>
                <defs>
                <clipPath id="clip0_500_811">
                <rect width="88" height="88" rx="44" fill="white"/>
                </clipPath>
                </defs>
            </svg>

        nav.header__navbar
            ul.menu
                li.menu__item
                    a(href="#") Главная
                li.menu__item.menu__item_has_children
                    a(href="#") Услуги
                    ul.menu__sub
                        each item in ['Обслуживание септиков', 'Ремонт септиков', 'Наращивание септиков', 'Пайка септиков', 'Откачака септиков', 'Модернизация септиков', 'Консервация септика', 'Отвод воды из септика', 'Ремонт компрессоров для септика', ]
                            li.menu__item
                                a(href="#")=item

                each item in ['Модели', 'Ремонт и цена', 'Обслуживание стоин', 'Фото работ', ]
                    li.menu__item
                        a(href="#")=item

        .header__phone
            a.btn.btn_lg(href="#")
                i.icon_phone
                span +7(900)000-00-00

        .header__toggle.mobile
