extends layout/layout.pug

block content

    // begin firstscreen
    section#firstscreen.firstscreen.section.img_bg_wrap
        .firstscreen__img.img_bg
            img(src="../img/firstscreen.webp" alt="image" loading="lazy")
        .container_center
            .firstscreen__content
                h1.section__title.lg Обслуживание и ремонт септиков в Ивантеевка 
                .firstscreen__btn
                    a.btn.btn_success(href="#")
                        i.icon_phone
                        span Позвонить
                    a.btn.show_modal_js(href="#feedback") 
                        span Оставить заявку


    // end firstscreen

    // begin info
    section#info.info.section
        .container_center
            .info__content
                p Обращайтесь за профессиональным ремонтом и обслуживанием.<br> услуги наше компании и провести сервестное обслужевание техническое полное вашего септика. 

                p По итогам выполненных работ заказчик получает гарантию качества. Все операции мастера выполняют в соответствии с актуальными нормативными требованиями.

    // end info

    // begin service
    section#service.service.section
        .container_center
            h2.section__title.md Обслуживание и ремонт септиков различных моделий   
            .service__slider
                .swiper.service_swiper_js
                    .swiper-wrapper
                        each item in ['1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6',]

                            .swiper-slide
                                .service__item
                                    .service__title Топас
                                    .service__desc топал эко
                                    .service__img.img
                                        img(src="../img/service.webp" alt="image" loading="lazy")
                                    .service__btn
                                        a.btn.show_modal_js(href="#feedback")
                                            span Заказать

                    .swiper-scrollbar.service__scrollbar.desktop
                .swiper-arrows.service__arrows.desktop
                    i.icon_arrow_left
                    i.icon_arrow_right



    // end service

    // begin advantages
    section#advantages.advantages.section
        .container_center
            h3.section__title Наши преимушества
            .advantages__grid
                each item in [{img: '1', title: 'Мастера укомплектованы всем необходимым'}, {img: '2', title: 'Запчасти и расходники в наличии у мастера '}, {img: '3', title: 'Срочный выезд-выезжаем в течении 15 минут'}]
                    .advantages__item
                        .advantages__inner(style="background-image: url('../img/advantages_"+item.img+".webp')")
                            .advantages__title=item.title


    // end advantages

    // begin callback
    section#callback.callback.section
        .container_center
            .callback__wrap
                .callback__img(style="background-image: url('../img/callback.webp')")
                    .callback__question.img
                        img(src="../img/question.webp" alt="image" loading="lazy")
                .callback__content
                    .callback__title Не знаете марку септика? Позвоните и мы подскажем. Или отправьте фото в Ватсап.
                    .callback__btn
                        a.btn.btn_lg(href="#")
                            span Консультация Мастера

                        a.btn.btn_lg.btn_success(href="#")
                            i.icon_whatsapp
                            span Написать В Whatsapp

    // end callback


    // begin projectBtn
    section#projectBtn.projectBtn.section
        .container_center
            h2.section__title
                span Кнопки
            .section__content
                a.btn(href="#") 
                    span Оставить заявку
                br
                br
                a.btn.btn_success(href="#")
                    i.icon_phone
                    span Позвонить
                br
                br
                a.btn(href="#")
                    span Заказать
                br
                br
                a.btn.btn_lg(href="#")
                    span Консультация Мастера
                br
                br
                a.btn.btn_lg.btn_success(href="#")
                    i.icon_whatsapp
                    span Написать В Whatsapp
                br
                br
                a.btn.btn_lg.btn_success(href="#")
                    span Отправить вопрос

    // end projectBtn


    // begin faq
    section#faq.faq.section
        .container_center
            h2.section__title F.A.Q.
            .faq__content
                .collapse(data-collapse-wrapper="")
                    .collapse__title.open(data-collapse="") 
                        span Вопрос о школе
                    // Добавить класс open для открытого состояния
                    .collapse__body.open(data-collapse-body="")
                        p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                        p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

                each title in ['Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг']

                    .collapse(data-collapse-wrapper="")
                        .collapse__title(data-collapse="")
                            span= title
                        .collapse__body(data-collapse-body="")
                            p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                            p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

    // end faq
