extends layout/layout.pug

block content


    // begin lorem
    section#lorem.lorem.section
        .container_center
            h2.section__title lorem
                i.icon_phone
            .lorem__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore odit nulla sapiente deserunt architecto. Quod corrupti laboriosam earum officiis, quas vitae recusandae, eaque ipsa quam deserunt veniam incidunt. Culpa, sapiente!


    // end lorem

    // begin projectBtn
    section#projectBtn.projectBtn.section
        .container_center
            h2.section__title
                span Кнопки
            .section__content
                a.btn(href="#") 
                    span Оставить заявку
                br
                br
                a.btn.btn_success(href="#")
                    i.icon_phone
                    span Позвонить
                br
                br
                a.btn(href="#")
                    span Заказать
                br
                br
                a.btn.btn_lg(href="#")
                    span Консультация Мастера
                br
                br
                a.btn.btn_lg.btn_success(href="#")
                    i.icon_whatsapp
                    span Написать В Whatsapp
                br
                br
                a.btn.btn_lg.btn_success(href="#")
                    span Отправить вопрос

    // end projectBtn

    // begin projectModal
    section#projectModal.projectModal.section
        .container_center
            h2.section__title
                span Модальные окна
            .section__content
                a.btn.show_modal_js(href="#info") Собщение
                br
                br
                span.btn.youtubeModal_js#rsDoGqnPE4c Видео

                .youtubeModal-js#rsDoGqnPE4c

    // end projectModal


        // begin form
    section#form.form.section
        .container_center
            .form__content
                h1.form__title Подать заявку на лизинг
                i.icon_close    
                form.form.form_grid(action="send.php")
                    //- из какой формы на сайте
                    input(type="hidden" name="subject" value="форма в футоре")
                    //- проверка спама
                    input(type="hidden" name="notspam" value="")
                    .form__row
                        input(type="text", required placeholder="Предмет лизинга*")
                    .form__row
                        input(type="number", placeholder="ИНН")
                    .form__row
                        input(type="number", placeholder="Стоимость")
                    .form__row
                        input(type="text", placeholder="Контактное лицо")
                    .form__row
                        input(type="number", placeholder="Колличество")
                    .form__row
                        input(type="text", required placeholder="Телефон*")
                    .form__row
                        input(type="number", placeholder="Аванс")
                    .form__label
                    .form__row
                        select.select(data-placeholder="Выбор")
                            option(value="")
                            option(value="Значение 1") Значение 1
                            option(value="Значение 2") Значение 2
                            option(value="Значение 3") Значение 3
                            option(value="Значение 4") Значение 4
                    .form__row
                        input(type="email", placeholder="E-mail")
                    .form__row
                        input(type="text", placeholder="Местонахождение")
                    .form__row.form__row_full
                        textarea(type="text", placeholder="Дополнительная информация")
                    .form__row.form__row_full
                        .form__grup
                            label.form__check
                                input(type="radio" name="test" checked="checked" value="test")
                                span radio 1
                            label.form__check
                                input(type="radio" name="test" value="test_2")
                                span radio 2

                    .form__row
                        span.form__text Поля, помеченные *, обязательны к заполнения
                    .form__row
                        .button
                            button.btn#btn_didisabled_js(type="submit") Отправить
                    .form__row.form__row_full
                        .form__privacy
                            label.form__check
                                input#check_checked(type="checkbox" checked="checked")
                                span Прочитал(-а) Пользовательское соглашение и соглашаюсь с <a href="#" target="_blank">политикой обработки персональных данных</a>
    // end form

    // begin faq
    section#faq.faq.section
        .container_center
            h2.section__title F.A.Q.
            .faq__content
                .collapse(data-collapse-wrapper="")
                    .collapse__title.open(data-collapse="") 
                        span Вопрос о школе
                    // Добавить класс open для открытого состояния
                    .collapse__body.open(data-collapse-body="")
                        p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                        p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

                each title in ['Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг']

                    .collapse(data-collapse-wrapper="")
                        .collapse__title(data-collapse="")
                            span= title
                        .collapse__body(data-collapse-body="")
                            p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                            p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

    // end faq
