extends layout/layout.pug

block content

    // begin firstscreen
    section#firstscreen.firstscreen.section.img_bg_wrap
        .firstscreen__img.img_bg
            img(src="../img/firstscreen.webp" alt="image" loading="lazy")
        .container_center
            .firstscreen__content
                h1.section__title.lg Обслуживание и ремонт септиков в Ивантеевка 
                .firstscreen__btn
                    a.btn.btn_success(href="#")
                        i.icon_phone
                        span Позвонить
                    a.btn.show_modal_js(href="#feedback") 
                        span Оставить заявку


    // end firstscreen

    // begin info
    section#info1.info.section
        .container_center
            .info__content


    // end info


    // begin projectBtn
    section#projectBtn.projectBtn.section
        .container_center
            h2.section__title
                span Кнопки
            .section__content
                a.btn(href="#") 
                    span Оставить заявку
                br
                br
                a.btn.btn_success(href="#")
                    i.icon_phone
                    span Позвонить
                br
                br
                a.btn(href="#")
                    span Заказать
                br
                br
                a.btn.btn_lg(href="#")
                    span Консультация Мастера
                br
                br
                a.btn.btn_lg.btn_success(href="#")
                    i.icon_whatsapp
                    span Написать В Whatsapp
                br
                br
                a.btn.btn_lg.btn_success(href="#")
                    span Отправить вопрос

    // end projectBtn


    // begin faq
    section#faq.faq.section
        .container_center
            h2.section__title F.A.Q.
            .faq__content
                .collapse(data-collapse-wrapper="")
                    .collapse__title.open(data-collapse="") 
                        span Вопрос о школе
                    // Добавить класс open для открытого состояния
                    .collapse__body.open(data-collapse-body="")
                        p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                        p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

                each title in ['Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг']

                    .collapse(data-collapse-wrapper="")
                        .collapse__title(data-collapse="")
                            span= title
                        .collapse__body(data-collapse-body="")
                            p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                            p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

    // end faq
