@charset "UTF-8";
.collapse__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1;
}
.collapse__title span {
  cursor: pointer;
}
.collapse__title:after {
  content: "";
  font-family: "icomoon";
  transition: 0.3s;
  cursor: pointer;
}
.collapse__title.open:after {
  color: red;
}
.collapse__body {
  display: none;
}
.collapse__body.open {
  display: block;
}